node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
seed

req.http

*.http

# All seed files
backend/prisma/seeds/
backend/prisma/*.seed.js
backend/prisma/*.seed.ts